constraints: HTTP ==4000.3.3,
             HUnit ==1.2.5.2,
             aeson ==0.11.2.0,
             aeson-compat ==0.3.3.0,
             ansi-terminal ==0.6.2.3,
             appar ==0.1.4,
             array ==0.5.1.0,
             async ==2.1.0,
             attoparsec ==0.13.0.2,
             auto-update ==0.1.4,
             base ==4.8.0.0,
             base-compat ==0.9.1,
             base16-bytestring ==0.1.1.6,
             base64-bytestring ==1.0.0.1,
             binary ==0.7.3.0,
             blaze-builder ==0.4.0.2,
             blaze-html ==0.8.1.1,
             blaze-markup ==0.7.0.3,
             byteable ==0.1.1,
             byteorder ==1.0.4,
             bytestring ==0.10.6.0,
             bytestring-builder ==0.10.6.0.0,
             case-insensitive ==1.2.0.6,
             cassava ==0.4.5.0,
             clay ==0.10.1,
             conduit ==1.2.6.6,
             conduit-extra ==1.1.13.1,
             containers ==0.5.6.2,
             cookie ==0.4.2,
             cryptohash ==0.11.9,
             cryptonite ==0.15,
             data-default-class ==0.0.1,
             deepseq ==1.4.1.1,
             directory ==1.2.2.0,
             dlist ==0.7.1.2,
             easy-file ==0.2.1,
             exceptions ==0.8.2.1,
             expiring-cache-map ==0.0.5.4,
             fail ==4.9.0.0,
             fast-logger ==2.4.6,
             filepath ==1.4.0.0,
             ghc-prim ==0.4.0.0,
             hashable ==1.2.4.0,
             hmatrix ==0.16.1.5,
             http-api-data ==0.2.2,
             http-date ==0.0.6.1,
             http-types ==0.9,
             http2 ==1.6.0,
             integer-gmp ==1.0.0.0,
             iproute ==1.7.0,
             lifted-base ==0.2.3.6,
             memory ==0.12,
             mime-types ==0.1.0.7,
             mmorph ==1.0.6,
             monad-control ==1.0.1.0,
             monad-logger ==0.3.18,
             monad-loops ==0.4.3,
             mtl ==2.2.1,
             nats ==1.1,
             network ==2.6.2.1,
             network-uri ==2.6.1.0,
             old-locale ==1.0.0.7,
             old-time ==1.1.0.3,
             parsec ==3.1.9,
             path-pieces ==0.2.1,
             persistent ==2.5,
             persistent-sqlite ==2.5,
             persistent-template ==2.5.1.1,
             pretty ==1.1.2.0,
             primitive ==0.6.1.0,
             process ==1.2.3.0,
             psqueues ==0.2.2.1,
             random ==1.1,
             regex-base ==0.93.2,
             regex-compat ==0.95.1,
             regex-posix ==0.95.2,
             resource-pool ==0.2.3.2,
             resourcet ==1.1.7.4,
             rts ==1.0,
             scientific ==0.3.4.6,
             scotty ==0.11.0,
             semigroups ==0.18.1,
             silently ==1.2.5,
             simple-sendfile ==0.2.21,
             split ==0.2.3.1,
             stm ==2.4.4.1,
             stm-chans ==3.0.0.4,
             storable-complex ==0.2.2,
             streaming-commons ==0.1.15.4,
             stringsearch ==0.3.6.6,
             syb ==0.6,
             tagged ==0.8.4,
             template-haskell ==2.10.0.0,
             text ==1.2.2.1,
             time ==1.5.0.1,
             time-locale-compat ==0.1.1.1,
             transformers ==0.4.2.0,
             transformers-base ==0.4.4,
             transformers-compat ==0.5.1.4,
             unix ==2.7.1.0,
             unix-compat ==0.4.1.4,
             unix-time ==0.3.6,
             unordered-containers ==0.2.7.0,
             vault ==0.3.0.6,
             vector ==0.11.0.0,
             void ==0.7.1,
             wai ==3.2.1,
             wai-extra ==3.0.15.1,
             wai-logger ==2.2.7,
             wai-middleware-static ==0.8.0,
             warp ==3.2.6,
             word8 ==0.1.2,
             zlib ==0.6.1.1

